body {
  background-color: rgb(150, 89, 105);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.body.macaroniandcheese {
  background-color: rgb(51, 132, 175);
}

.body.protein {
  background-color: rgb(242, 214, 176);
}

.body.rootbeer {
  background-color: white;
}
.title {
  font-size: 50px;
  text-align: center;
  color: #080800;
}

.title.macaroni {
  color: white;
}

.title.protein {
  color: black;
}

.title.rootbeer {
  color: rgb(80, 50, 50);
}

.recipe.list {
  color: rgb(3, 3, 3);
}

.recipe {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
}

.recipes {
  background-color: white;
  width: 400px;
  height: 300px;
  border-style: solid;
  border-color: black;
  border-width: 8px;
  margin: auto;
  border-radius: 5px;
}

.title-div {
  background-color: white;
  width: 400px;
  height: auto;
  border-style: solid;
  border-color: black;
  border-width: 8px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
